.experience-section {
  background: var(--bg-secondary);
  /* padding: 60px 0px 0px 0px; */
}

/* Timeline */
.timeline {
  position: relative;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* Default dot */
.timeline::before {
  content: '';
  position: absolute;
  left: -1.5rem;
  top: 1.4rem;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--bg-card);
  border: 2px solid var(--border);
  transition: all 0.3s ease;
}

/* ACTIVE DOT */
.timeline-item.active::before {
  border-color: var(--accent-primary);
  background: var(--accent-primary);
  box-shadow:
    0 0 0 4px rgba(79,70,229,0.15),
    0 0 10px rgba(79,70,229,0.4);

  transform: scale(1.1); 
}
/* Highlight line behind active */
.timeline-item.active {
  position: relative;
}

.timeline-item.active::after {
  content: '';
  position: absolute;
  left: -1.6rem;
  top: 10px;
  height: calc(100% - 20px);
  width: 2px;
  background: var(--accent-primary);
  opacity: 0.3;
} 

/* Item */
.timeline-item {
  position: relative;
  padding-left: 1.5rem;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.timeline-item.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Dot */
.timeline-item::before {
  content: '';
  position: absolute;
  left: -1.9rem;
  top: 1.4rem;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--bg-card);
  border: 2px solid var(--accent-primary);
}

/* Card */
.timeline-content {
  background: var(--bg-card);
  padding: 20px;
  border-radius: 14px;
  border: 1px solid var(--border);
  box-shadow: 0 6px 20px rgba(0,0,0,0.05);
}

/* Header */
.timeline-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.company-info h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.meta-row {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.85rem;
  color: var(--text-secondary);
}

.role {
  color: var(--accent-primary);
  font-weight: 500;
}

.location {
  white-space: nowrap;
}

.timeline-date {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

/* Achievements */
.achievements {
  margin-top: 10px;
  padding-left: 18px;
}

.achievements li {
  font-size: 0.85rem;
  margin-bottom: 6px;
}

/* Toggle */
.toggle-btn {
  margin-top: 6px;
  background: none;
  border: none;
  font-size: 0.8rem;
  color: var(--accent-primary);
  cursor: pointer;
}

.toggle-btn:hover {
  text-decoration: underline;
}

/* Badge */
.current-badge {
  font-size: 0.7rem;
  color: #22c55e;
}